.bg-purple{
    background-color:#6119f3 !important;  
}

.pixel_font{
    font-family: "Pixelify Sans", sans-serif !important; 
    font-optical-sizing: auto !important;
    font-weight: weight !important;
    font-style: normal !important;
}

